<h1>Listing skills</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>References</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |skill| %>
  <tr>
    <td><%= skill.Name %></td>
    <td><%= skill.Make %></td>
    <td><%= skill.ReviewerSummary %></td>
    <td><%= skill.AvgConsumerRating %></td>
    <td><%= skill.MPGCity %></td>
    <td><%= link_to 'Show', '/'+skill.vin %></td>
  </tr>
<% end %>
</table>

<br />

