<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @car.Name %>
</p>

<p>
  <b>Class:</b>
  <%= @car.Year %>
</p>

<p>
  <b>References:</b>
  <%= @car.Make %>
</p>

<p>
  <b>Description:</b>
  <%= @car.AvgConsumerRating %>
</p>
<p>
  <b>Description:</b>
  <%= @car.ReviewerSummary %>
</p>

<%= link_to 'Back', car_path %>
