<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car.Name %>
</p>

<p>
  <b>Class:</b>
  <%= @car.Class %>
</p>

<p>
  <b>References:</b>
  <%= @car.references %>
</p>

<p>
  <b>Description:</b>
  <%= @car.Description %>
</p>


<%= link_to 'Back', car_path %>
